      header {
        text-align: center;
        align-items: center;
        padding: 0 1em;
      }

      a {
        background-color: gainsboro;
        padding-left: 10px;
        padding-right: 10px;
      }

      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding-left: auto;
        padding-right: auto;
        }
      img {
        width: 75%;
        height: auto;
        margin: 0 auto;
        align-items: center;
      }
      figcaption {
        font-style: italic;
        font-size: 0.8em;
        text-align: center;
      }

      section#details{
        align-items: center;
        text-align: center;
        padding: 0 1em;
      }

      div {
        width: 25%;
        background-color: red;
        float: left;
      }
      
      #featured-property p {  
        width: 800px;
        margin: 0 auto;
        padding-left: auto;
        padding-right: auto;
        padding-bottom: 10px;
        padding-top: 10px;
      }